@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper navigation custom position */
.swiper-button-next, .swiper-button-prev {
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.swiper-button-next {
  right: -32px !important;
}
.swiper-button-prev {
  left: -32px !important;
}